.categoryList {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    justify-content: center; 
    align-items: center; 
}

.categoryItem {
    font-size: 14px; 
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; 
    text-align: center; 
    margin-bottom: 10px; 
}

.categoryItem:hover {
    background-color: #e0e0e0;
}
